<div class="card">
  <div class="card-header">
    Add New Specialization
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" #specializationName="ngModel"
        ngModel name="name" required minlength="5">
        <span *ngIf="!specializationName.valid && specializationName.touched" class="error-block">
          <span *ngIf="specializationName.errors">Пожалуйста введите название</span>
          <!--<span *ngIf="cityName.errors.minlenght">Имя должно иметь не менее 5 символов</span>-->
        </span>
      </div>
      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>

<p>
  <button (click)="onBack()" class="btn btn-primary">Back</button>
</p>
