<div class="content__head">
  <h1>Medic</h1>
</div>

<div class="content">
  <button class="btn btn-primary" routerLink="/create-medic">
    Create
  </button>
  <div class="content__container" *ngIf="medics.length">
    <div class="content__body" *ngFor="let medic of medics">
      <div class="content__item">
        {{ medic.id }}
      </div>
      <div class="content__item">
        {{ medic.fullname }}
      </div>
      <div class="content__item">
        {{ medic.price }}
      </div>
      <div class="content__item">
        {{ medic.phone }}
      </div>
      <div class="content__item">
        {{ medic.photopath }}
      </div>
      <div class="content__item">
        {{ medic.experience }}
      </div>
      <div class="content__item">
        {{ medic.description }}
      </div>
      <div class="content__item">
        {{ medic.fulldescription }}
      </div>
      <div class="content__item">
        <button class="btn btn-primary" routerLink="/details-medic/{{medic.id}}">
          Details
        </button>
        <button class="btn btn-primary" routerLink="/update-medic">
          Update
        </button>
        <button class="btn btn-primary" routerLink="/delete-medic">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

